.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to right, #2b2d42, #8d99ae);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.profileImg{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.nameContainer {
  display: flex;
  align-items: center;
  color: #edf2f4;
  font-weight: bolder;
  font-size: 24px;
}

.linksContainer {
  display: flex;
  align-items: center;
  color: #edf2f4;
  font-size: 24px;
  font-weight: bolder;
}

.linksContainer ul:hover{
  color: #f7b801;
  cursor: pointer;
}