@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');  

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #f8f1e4;
  top: 0;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.profileImg{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.nameContainer {
  display: flex;
  align-items: center;
  color: #37474f;
  font-weight: bolder;
  font-size: 24px;
}

.linksContainer {
  display: flex;
  align-items: center;
  color: #37474f;
  font-size: 24px;
  font-weight: bolder;
}

.linksContainer ul:hover{
  color: #ff6f61;
  cursor: pointer;
}